ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
    font-size: 16px;
    border-left: 1.5px dotted black;
    border-right: 1.5px dotted black;
    padding: 0 5px;
  }

  .WatchedBy {
    
      font-size: small;
      border-left: 0px dotted black;
      border-right: 0px dotted black;
      padding: 0px;

  }